{#
/**
 * @file
 * Theme override to display a block.
 *
 * Source: core/modules/block/templates/block.html.twig
 * Changes:
 * - <nav> instead of <div>
 * - added visually hidden label
 * - removed class 'language-switcher-language-url'
 * - added class 'language-switch'
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see block--system-menu-block.html.twig
 * @see core/modules/system/templates/links.html.twig
 */
#}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
{% set attributes = attributes.removeClass('language-switcher-language-url').addClass('language-switch').removeAttribute('role').setAttribute('aria-labelledby', heading_id) %}
<nav{{ attributes }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {% endif %}
  {{ title_prefix }}
  <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
  {{ title_suffix }}

  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
