{#
/**
 * @file
 * Theme override to display a region.
 *
 * Source: core/modules/system/templates/region.html.twig
 * Changes:
 * - removed wrapper div
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  {{ content }}
{% endif %}
